.featured{
     height:600px;
        display: flex;
        justify-content: center;
      background: url('/img/beautiful3.jpg') no-repeat center center;
        background-size: cover;
        color: rgb(223, 238, 224);
       top: -31px;
       position: relative;
       opacity: 95%; 
    .container{
      position: relative; //not prignal 
       width: 1400px;
       display:flex;
       align-items: center;
       
       .left{
        position: relative; //not orignal
        display: flex;
        flex-direction:column ;

        h1{
          font-size: 60px;
          margin-left: 10px;
        
        }

        .search{
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: white;
          border-radius: 5px;
          .searchInput{
             display: flex;
             align-items: center;
             gap: 10px;
             color:black;

             img{
              width: 20px;
              height: 20px;
              margin: 10px;
             }
             input{
              border: none;
              outline: none;
             }
          }
          button{
            width: 120px;
            height:50px ;
            border: none;
            background-color:#fb9f35;
            background-color: #7445f4;
            background-color:#19ac5b;
            
            color: white;
            cursor: pointer;
          }
        }

        .popular{
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 15px;
          span{

          }
          button{
            color: white;
            background-color:transparent ;
            border: 1px solid white; 
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 14px;
            cursor: pointer;
          }
        }
       }
       .right{
        height: 100%;

        img{
          height: 100%;
          object-fit: contain;
        }
       }

    }
}  
