// .footer{
// display:flex;
// justify-content: center; /* Example: center content */
// align-items: center; /* Example: center content */
// height: 100px; /* Example: give it some height */
// background-color: #41b0cc; /* Example: add a background to see it */
// color: #d84242; /* Example: add text color */
// width: 100%;



// /* Add other styles as needed */
// }






// // //footer tala rakhna milni wala code no orignal
// // .footer {
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// //   height: 100px;
// //   background-color: #41b0cc;
// //   color: #d84242;
// //   width: 100%;
// //   position: fixed; /* Stick to the viewport */
// //   bottom: 0;      /* Align to the bottom */
// //   left: 0;        /* Ensure it spans the full width */
// // }



.footer{
    background-color: rgb(66, 133, 102);
    display: flex;
    justify-content: center;
    color: rgb(222, 216, 216);

    img{
        width: 24px;
        height: 24px;
    }
    .container{
        width: 1400px;
        .top{
            display: flex;
            justify-content: space-between;

           .item{
            display: flex;
            flex-direction: column;
            gap: 19px;
            h2{
                margin-top: 10px;
                font-size: 16px;
                color: rgb(255, 255, 255);
            }
            span{
                font-weight: 300;
            }
           }
        }
        hr{
            margin: 50px 0px;
            height: 0;
            border: 1px solid rgb(59, 56, 56);
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                display: flex;
            align-items: center;
            
            span{
                font-size: 20px;
                color: rgb(44, 42, 42);
                margin-top: -50px;
            }

            }
            .right{
                display: flex;
            align-items: center;
            gap:50px ;
            margin-top: -50px;

            .social{
                display: flex;
                align-items: center;
                gap: 15px;
            }
            }
        }
    }
}


