
* {
    

        .link{
    
        text-decoration: none;
        color: inherit; //yesle logo clear dakhinxa orignal white color aauxa 
    }
    margin: 0;//yo add gare paxi side scren ko problem solve and yo muni ko code
    padding: 0;
    box-sizing: border-box; // Includes padding and border in element's total width and height
}

html, body {
    
    width: 100%;
    height: 100%;
}
