.slide{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    padding-top: 10px;
    .container{
        width: 1400px;

        .carousel-prev, .carousel-next{
            width: 50px;
            height: 50px;
            background-color: rgb(27, 140, 227);
            border-radius: 50%;
           position: absolute;
           top: 0;
           bottom: 0;
           margin: auto;
           display: flex;
           opacity: 50%;

    }
}
}
@media (max-width: 1300px) {
    .slide {
      width: 98vw;
      .container {
        height: 180px;
        gap: 12px;
      }
    }
  }
  @media (max-width: 900px) {
    .slide {
      width: 100vw;
      border-radius: 10px;
      .container {
        height: 120px;
        gap: 8px;
      }
    }
  }
  @media (max-width: 600px) {
    .slide {
      width: 100vw;
      border-radius: 8px;
      .container {
        height: 90px;
        gap: 4px;
      }
    }
  }